.wallet__main-container {
  /* outline: 2px solid red; */
  margin: auto;
  padding-top: 20px;
  width: 90%;
  height: 350px;
}
.wallet__title {
  margin-bottom: 10px;
  color: #c94246;
}
.wallet__slider-container {
  /* outline: 2px solid blue; */
  height: 240px;
}
.wallet__slider-benevit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 90% !important;
}
.wallet_image {
  margin: auto;
  background-color: #9f9f9f;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 50px;
  width: 100%;
  object-fit: contain;
}
.slick-next,
.slick-prev {
  background-color: #9f9f9f88 !important;
  border-radius: 65%;
}
.wallet__container-text {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #9f9f9f;
  border-top: none;
  height: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wallet__subtitle {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}
.wallet__text {
  font-size: 16px;
}
.btn-locked {
  background-color: #c94246;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
}
.unlocked {
  justify-content: center;
}
